<launch>

  <include file="$(find iri_wam_reproduce_trajectory)/launch/start_service.launch"/>

  <node pkg ="iri_wam_aff_demo"
        type="iri_wam_aff_demo_node"
        name="iri_wam_aff_demo"
        output="screen">
  </node>
  <node pkg ="my_examples_pkg"
        type="exercise_5_1.py"
        name="exercise_5_1.py"
        output="screen">
  </node>
</launch>
